/* Base styles for mobile */

::selection {
    background: #1F2223; /* background color */
    color: white; /* text color */
  }

html {
    height: 100%;
    margin: 0;
}
body {
    font-family: 'Noto Sans', sans-serif;
    line-height: 150%;
    color: #1F2223;
    background-color: #EBDFD0;
    margin: 0 auto; /* Centers the container */
    padding: 0 18px; /* Padding on both sides */
    max-width: 1100px;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto; /* header, content, footer */
    min-height: 100vh; /* Ensure the body takes at least the viewport height */

}
* {
    font-family: 'Noto Sans', sans-serif;
    word-break: keep-all;
}

a {
    color: #1F2223;
    position: relative;
    text-decoration: none;
    cursor: pointer;
  }
  
  a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1.5px;
    border-radius: 0px;
    background-color: #1F2223;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
  
  a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

p {
    margin: 0;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex: 1 0 0;
    padding: 30px 0 10px 0;
}
#logoContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}
#logo {
    font-size: 34px;
    font-weight: 700;
    text-transform: capitalize;
    text-transform: uppercase;
    cursor: pointer;
}
#logo img {
    width: 140px;
    height: auto;
}
#free {
    font-size: 14px;
    border-radius: 100px;
    border: 1px solid #1F2223;
    padding: 1px 10px 0 10px;
    line-height: 150%;
}
li {
    list-style-type: none;
}
ul {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 15px;
}
/* Existing styles for #shareContainer */
#shareContainer {
    position: relative;
}

/* Default styles for #linkCopied */
#linkCopied {
    position: absolute;
    bottom: -40px; /* Adjust as needed */
    left: -20px;
    transform: translateX(-50%);
    color: #fff;
    background-color: #333;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap; /* Prevents the text from wrapping */
    min-width: 100px; /* Set a minimum width */
    text-align: center; /* Center the text */
    opacity: 0; /* Start with the element fully transparent */
    visibility: hidden; /* Initially hidden */
    transition: visibility 0s linear 0.3s, opacity 0.3s linear; /* Transition for visibility and opacity */
}

#linkCopied.active {
    visibility: visible; /* Make it visible */
    opacity: 1; /* Fully opaque */
    transition: opacity 0.3s linear; /* Only transition opacity */
}





/* Hero section*/
h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 1.3;
    margin: 0;
    color: #1F2223;
}
h1 {
    font-size: 42px;
    display: inline-block; /* Aligns with the line-height */
    vertical-align: top; /* Aligns text to the top of the container */
}
h2 {
    font-size: 34px;
    margin: 0; /* Removes default margin */
    display: inline-block; /* Aligns with the line-height */
    vertical-align: top; /* Aligns text to the top of the container */
    letter-spacing: -1px;
}

#contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    
}

#heroContainer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}


#heroTitleStory {
    margin-bottom: 30px;
    color: #1F2223;
    text-align: center;
    font-style: normal;
    text-transform: capitalize;
    max-width: 600px;
}
#heroTitleStory h1 {
    margin-top: 10px;
}
#heroTitleStory p {
    margin: 20px 0;
}
#heroImgContainer {
    margin-top: 0;
    position: relative;
    height: 235px;
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heroIMG {
    cursor: pointer;
}
#imgCow {
    position: absolute;
    top: 30%;
    left: 27%;
    width: 160px;
    height: auto;
}
#imgFire {
    position: absolute;
    top: 20%;
    left: 3%;
    width: 96px;
    height: auto;
}
#imgFlying {
    position: absolute;
    top: -4%;
    left: 36%;
    width: 86px;
    height: auto;
}
#imgVoltage {
    position: absolute;
    top: 12%;
    left: 67%;
    width: 70px;
    height: auto;
}
#imgFountain {
    position: absolute;
    top: 46%;
    left: 67%;
    width: 104px;
    height: auto;
}
#imgHeart {
    position: absolute;
    top: 62%;
    left: 10%;
    width: 72px;
    height: auto;
}

button {
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}
.primaryButton {
    background: #1F2223;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 20px;
    gap: 8px;
    width:100%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.primaryButton:hover {
    background: black;

}

/* Generator section */
#generatorContainer {
    margin-bottom: 100px;
    width: 100%;
}

h2{
    margin: 0 0 10px 0;
    font-size: 30px;
}


#generatorButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.secondaryButton {
    background: white;
    color: #1F2223;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    gap: 8px;
    width: 100%;
    border-radius: 5px;
}

#clickArrowIcon {
    border-radius: 3px;
}

.OptionButton {
    font-size: 18px;
    font-weight: 700;
}

#typeButton {
    background-color: #BB6DFF;
}
#typeButton:hover {
    background-color: #AB4BFF;
}

#lengthButton {
    background-color: #03C9EA;
}
#lengthButton:hover {
    background-color: #00B8E0;
}

#emojisButton {
    background-color: #FFA500;
}
#emojisButton:hover {
    background-color: #FF8A00;
}

#generateContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    background-color: #D8CBBA;
}


#selectedOptions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding: 10px;
    min-height: 35px;
    border-radius: 5px 5px 0 0;
}
#generateBtn {
    width: 100%;
    border-radius: 5px;
}
#generateErrorMessage {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-bottom: 10px;
    background-color: none;
    border-radius: 5px;
    margin-top: 10px;
    gap: 10px;
    color: #6F6F6F;
}
#generateErrorMessage img {
    padding: 0;
}
.tag {
    font-size: 16px;
    font-weight: 600;
    color: #1F2223;
    background-color: white;
    display: flex;
    align-items: center; /* Vertically center all items */
    justify-content: space-between; /* Space out the content and the delete icon */
    gap: 12px;
    padding: 8px 14px; /* Adjust padding as needed */
    height: 30px;
    text-transform: uppercase;
    border-radius: 5px;
}
/* Adjust the height of images and text inside the tag */
.tag img {
    max-height: 24px; /* Set max height to match emoji images, adjust as needed */
    width: auto; /* Keep the aspect ratio of the delete icon */
}
.deleteTag {
    cursor: pointer;
    border-radius: 3px;
}




/*Modal*/
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

.modal-content {
    margin: auto;
    padding: 20px 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
}
.modalButtonContainer {
    display: flex;
    right: 20px; /* Right side */
    bottom: 20px; /* Bottom side */
    width: 320px;
    gap: 10px;
}
#typeModalButtonContainer {
    bottom: 20px;
    right: 20px;
}
#lengthModalButtonContainer {
    bottom: 20px;
    right: 20px;
}


/*Emoji modal*/
#emojiModal {
    background-color: #E9EDF0;
}

#emojiContainer img {
    width: 60px;
    height: 60px;
    padding: 5px;
    margin: 5px;
    cursor: pointer; /* This makes the cursor look like a pointer hand when you hover over the emojis */

}
/* Active state for images */
#emojiContainer img:hover, #emojiContainer img.activeImage {
    background-color: white;
    border-radius: 10px;
}


#closeEmojiModal {
    display: flex;
    align-items: center;
    justify-content: center;
}
#closeTypeModal {
    display: flex;
    align-items: center;
    justify-content: center;
}
#saveTypeModal, #saveEmojiModal, #savelengthModal {
    display: flex !important;
    justify-content: center !important;
}

#closelengthModal {
    display: flex;
    align-items: center;
    justify-content: center;
}

    #emojiTabsContainer {
        overflow: hidden;
        display: flex;
        align-items: center;
    }
   
    #emojiTabs {
        position: relative;
        display: flex;
        align-items: center;
        flex: 1 1 auto;
        white-space: nowrap;
        overflow-x: auto; /* Enable horizontal scrolling */
        margin-left: 18px;
        margin-right: 18px;
        gap: 20px;
        /* Hide scrollbar for IE, Edge, and Firefox */
        scrollbar-width: none;
        
        /* Prevent scrollbar space from displaying in IE and Edge */
        -ms-overflow-style: none;
    }
    
    /* Hide scrollbar for Chrome, Safari, and Opera */
    #emojiTabs::-webkit-scrollbar {
        display: none;
    }
    .emojiTab {
        margin-bottom: 8px;
        flex: 0 0 auto; /* Prevent tabs from stretching */
        color:#1F2223;
        text-align: right;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        text-transform: uppercase;
        white-space: nowrap;
    }
    /* Active state for tabs */
    .emojiTab:hover, .emojiTab.active {
        text-decoration-line: underline;
        text-decoration-color: #1F2223;
        text-decoration-style: solid;
        text-decoration-thickness: 3px;
        text-underline-offset: 6px; /* 밑줄과 텍스트 사이의 간격을 3px로 설정 */
    }

    .scrollArrow img {
        width: 30px;
        height: auto;
    }


    #emojiContainer {
        padding-top: 10px;
        background-color: #E9EDF0;
        padding-bottom: 100px;
        display: ruby-text;
    }
    

    #selectedEmojis img {
        width: 24px; /* Keep your existing width */
        height: 24px; /* Keep the emoji images at a fixed size */
    }

    #selectedEmojisPlaceholder {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }
    .modal-error-message {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 10px;
        background-color: #ffcccb; /* Light red background */
        color: #333; /* Dark text */
        border-radius: 5px;
        margin-top: 10px;
    }
    .modal-error-message span{
        margin: 10px 0px 10px 10px;
    }
    
    .modal-error-message img {
        cursor: pointer; /* Change cursor to pointer when hovering over the close button */
    }
    #emojiButtonErrorContainer {
        display: flex;
        flex-direction: column;
        position: fixed; /* Fixed position relative to viewport */
        right: 20px; /* Align to the right side */
        bottom: 20px; /* Distance from the bottom */
        align-items: center; /* Center children horizontally */
        z-index: 1000; /* Ensure it's above other elements */
        width: 320px;
    }
    
    #typeErrorButtonwrapper {
        display: flex;
        flex-direction: column;
        position: fixed; /* Fixed position relative to viewport */
        right: 20px; /* Align to the right side */
        bottom: 20px; /* Distance from the bottom */
        align-items: center; /* Center children horizontally */
        z-index: 1000; /* Ensure it's above other elements */
        width: 320px;
    }
    
    #lengthErrorButtonWapper {
        display: flex;
        flex-direction: column;
        position: fixed; /* Fixed position relative to viewport */
        right: 20px; /* Align to the right side */
        bottom: 20px; /* Distance from the bottom */
        align-items: center; /* Center children horizontally */
        z-index: 1000; /* Ensure it's above other elements */
        width: 320px;
    }
    .closeErrorBtn {
        padding: 10px 10px 0 10px;
    }
    .ErrorIcon {
        padding: 10px 0 0 10px;
    }

/*Type modal*/
#typeModalContentId {
    background-color: #BB6DFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#lengthModalContentId {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#typeContainer {
    color: #1F2223;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 40px;
    line-height: 130%;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    white-space: nowrap;
}
#lengthContainer {
    color: #1F2223;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 40px;
    line-height: 130%;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    white-space: nowrap;
}
/* Active state for type */
.typeOption:hover, .typeOption.active {
    text-decoration-line: underline;
    text-decoration-color: #1F2223;
    text-decoration-style: solid;
    text-decoration-thickness: 4px;
    text-underline-offset: 6px; /* 밑줄과 텍스트 사이의 간격을 3px로 설정 */

}

/* Active state for length */
.lengthOption:hover, .lengthOption.active {
    text-decoration-line: underline;
    text-decoration-color: #1F2223;
    text-decoration-style: solid;
    text-decoration-thickness: 4px;
    text-underline-offset: 6px; /* 밑줄과 텍스트 사이의 간격을 3px로 설정 */
}

/*Length modal*/
#lengthModal {
    background-color: #03C9EA;
}

/*Story Output page*/

#fairyTaleOutput {
    color: #1F2223;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    margin: 40px 0px 40px 0px;
}
.outputSelectedEmojis {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.outputSelectedEmojis img {
    height: auto;
    width: 100px;
}
#outputButtonContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 60px;
}
#outputButtonContainer button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100% !important;

}
.outputBtnWrapper {
    width: 100%;
}
#optionsContent {
    margin-bottom: 50px;
}
#youChooseText {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
#outputSelectedOptionsWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.outputSelectedOption {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    padding: 5px 12px;
    font-size: 16px;
    font-weight: 600;

}
#outputSelectedType, #outputSelectedLength {
    padding: 8px 12px;
}
.outputSelectedOption img {
    width: 24px;
    height: auto;
}


/*Copy the story as a text*/
/* Existing styles for the button container, assuming similar structure */
#copyBtn {
    background-color: #BB6DFF;
}
#copyBtn:hover {
    background-color: #AF55FF;
}
#copyBtnWrapper {
    position: relative;
}

/* Default styles for #storyCopied, similar to #linkCopied */
#storyCopied, #appLinkCopied {
    z-index: 100; /* Sit on top */
    position: absolute;
    bottom: 10px; /* Adjust as needed based on the button's size */
    left: 50%;
    transform: translateX(-50%) translateY(100%); /* Position it right below the button */
    color: #fff;
    background-color: #333;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap; /* Prevents the text from wrapping */
    min-width: 100px; /* Set a minimum width */
    text-align: center; /* Center the text */
    opacity: 0; /* Start with the element fully transparent */
    visibility: hidden; /* Initially hidden */
    transition: visibility 0s linear 0.3s, opacity 0.3s linear; /* Transition for visibility and opacity */
}

#storyCopied.active, #appLinkCopied.active {
    visibility: visible; /* Make it visible */
    opacity: 1; /* Fully opaque */
    transition: opacity 0.3s linear; /* Only transition opacity */
}


#shareThisApp {
    background-color: #03C9EA;
}
#shareThisApp:hover {
    background-color: #00B8E0;
}
#storyView {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
}
#fairyTaleOutput p {
    margin-bottom: 40px;
}

/*App share button*/
#shareThisAppWrapper {
    position: relative;
}


/*Loading*/

.loading-container {
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    width: 100%;
  }
  
  .loading-image {
    /* Adjust the width and height as needed */
    width: 100px;
    height: 100px;
    margin-bottom: 20px; /* Space between image and text */
  }
  
  .loading-text {
    font-size: 50px;
    font-weight: 700;
    color: #1F2223;
    line-height: 130%;
  }
  
footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: auto;
    margin-bottom: 50px;
    gap: 30px;
    padding-top: 70px;
    border-top: 1px solid #D8CBBA;
    padding-bottom: 40px;
}
#footerLinks {
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#copyrightText {
    color: #6F6F6F;
}
#footerAbout {
    display: block;
}

/*About page*/
#aboutContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 20px;
    margin-bottom: 100px;
    width: 100%;
}
#aboutContainer h1 {
    letter-spacing: 0px;
    font-size: 40px;
}
#pContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    font-size: 16px;
}
#aboutButton {
    margin-top: 50px;
    max-width: 100%;
}

#errorBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #EBDFD0;
    color: #1F2223;
    height: 100vh; /* Make sure the body takes full viewport height */
}
.error-page {
    max-width: 600px; /* Set a max-width for larger screens */
    margin-bottom: 40px;
}
.error-page img {
    width: 150px;
    height: auto;
}
#errorPageBody {
    margin-top: 30px;
}
#errorGoToHomeBtn {
    width: auto !important;
    margin-top: 30px;
}
/* Media Query for larger screens */

@media (min-width: 1100px) {
    body {
        max-width: 1100px; /* Maximum width of the content */
        padding: 0 50px; /* Padding on both sides */
    }

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        flex: 1 0 0;
        padding: 40px 0px 10px 0px;
    }
    #logoContainer {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    #logo {
        font-size: 34px;
        font-weight: 700;
        text-transform: capitalize;
        text-transform: uppercase;
    }
    #logo img {
        width: 200px;
        height: auto;
    }
    #linkCopied {
        left: 50%;
    }
    
    li {
        list-style-type: none;
    }
    ul {
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 27px;
    }
    h1 {
        font-size: 66px;
        letter-spacing: -5;
        margin: 0; /* Removes default margin */
        display: inline-block; /* Aligns with the line-height */
        vertical-align: top; /* Aligns text to the top of the container */
    }
    h2 {
        font-size: 42px;
        margin: 0; /* Removes default margin */
        display: inline-block; /* Aligns with the line-height */
        vertical-align: top; /* Aligns text to the top of the container */
    }
    #contentContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 18px;

    }

    #heroContainer {
        flex-direction: row;
        justify-content: flex-start;
        min-height: 450px;
        width: 100%;
        margin-bottom: 0px;
    }
    #heroImgContainer {
        height: 405px;
        width: 550px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #imgCow {
        position: absolute;
        top: 27%;
        left: 27%;
        width: 266px;
        height: auto;
    }
    #imgFire {
        position: absolute;
        top: 20%;
        left: 5%;
        width: 143px;
        height: auto;
    }
    #imgHeart {
        position: absolute;
        top: 58%;
        left: 9%;
        width: 125px;
        height: auto;
    }
    #imgFlying {
        position: absolute;
        top: -8%;
        left: 36%;
        width: 155px;
        height: auto;
    }
    #imgVoltage {
        position: absolute;
        top: 12%;
        left: 67%;
        width: 137px;
        height: auto;
    }
    #imgFountain {
        position: absolute;
        top: 46%;
        left: 66%;
        width: 160px;
        height: auto;
    }

    #heroTitleStory {
        text-align: start;
        width: 50%;
        max-width: 500px;
    }
    #heroTitleStory h1 {
        margin-top: 0px;
    }
    #heroTitleStory p {
        max-width: 460px;
    }
    
    /* Generator section */
    #generatorContainer {
        margin-bottom: 100px;
        width: 100%;
    }

    #generatorButtons {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-bottom: 10px;
    }
    
    
    #generateContainer {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    
    #selectedOptions {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
        padding: 10px;
        width: 66.666%;
        border-radius: 5px 0px 0px 5px;
    }
    #generateBtn {
        width: 33.333%;
        border-radius: 5px;
    }

    /* Adjust the height of images and text inside the tag */
    .tag img {
        max-height: 24px; /* Set max height to match emoji images, adjust as needed */
        width: auto; /* Keep the aspect ratio of the delete icon */
    }
    
    
    /*Modal*/
    .modal {
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100vw; /* Full width */
        height: 100vh; /* Full height */
        overflow: auto; /* Enable scroll if needed */
    }
    
    .modal-content {
        margin: auto;
        padding: 20px;
        width: 100vw; /* Full width */
        height: 100vh; /* Full height */
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
    }
    .modal-content * {   
        /*max-width: 100%; Ensure children don't exceed parent's width */
        box-sizing: border-box; /* Apply box-sizing to all child elements */
    }

    .modalButtonContainer {
        display: flex;
        right: 20px; /* Right side */
        bottom: 20px; /* Bottom side */
    }
    
    /*Emoji modal*/
    #emojiModal {
        background-color: #E9EDF0;
    }

    #emojiContainer img {
        width: 80px;
        height: 80px;
        padding: 5px;
        margin: 5px;
    }
        /* Active state for images */
        #emojiContainer img:hover, #emojiContainer img.activeImage {
            background-color: white;
            border-radius: 10px;
        }

        #emojiTabs {
            gap: 50px;
        }
    
        .emojiTab {
            color:#1F2223;
            text-align: right;
            font-size: 60px;
            font-style: normal;
            font-weight: 700;
            line-height: 130%;
            text-transform: uppercase;
            white-space: nowrap;
        }
        /* Active state for tabs */
        .emojiTab:hover, .emojiTab.active {
            text-decoration-line: underline;
            text-decoration-color: #1F2223;
            text-decoration-style: solid;
            text-decoration-thickness: 6px;
            text-underline-offset: 12px; /* 밑줄과 텍스트 사이의 간격을 3px로 설정 */

        }

    
        #emojiContainer {
            padding-top: 10px;
            background-color: #E9EDF0;
        }
        
        #selectedEmojis img {
            width: 24px; /* Keep your existing width */
            height: 24px; /* Keep the emoji images at a fixed size */
        }
    
    /*Type modal*/
    #typeModalContentId {
        background-color: #BB6DFF;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #typeContainer {
        color: #1F2223;
        gap: 20px;
        font-size: 80px;
        line-height: 130%;
        font-weight: 700;
        text-align: left;
        text-transform: uppercase;
        white-space: nowrap;
    }
    #lengthContainer {
        color: #1F2223;
        gap: 20px;
        font-size: 80px;
        line-height: 130%;
        font-weight: 700;
        text-align: left;
        text-transform: uppercase;
        white-space: nowrap; 
    }
    /* Active state for type */
    .typeOption:hover, .typeOption.active {
        text-decoration-line: underline;
        text-decoration-color: #1F2223;
        text-decoration-style: solid;
        text-decoration-thickness: 8px;
        text-underline-offset: 12px; /* 밑줄과 텍스트 사이의 간격을 3px로 설정 */

        
    }

    /* Active state for length */
    .lengthOption:hover, .lengthOption.active {
        text-decoration-line: underline;
        text-decoration-color: #1F2223;
        text-decoration-style: solid;
        text-decoration-thickness: 8px;
        text-underline-offset: 12px; /* 밑줄과 텍스트 사이의 간격을 3px로 설정 */

    }

    /*Length modal*/
    #lengthModal {
        background-color: #03C9EA;
    }
    /*Output story page*/
    #outputButtonContainer {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .outputBtnWrapper {
        width: 33.333%;
    }

    /*Loading*/
    .loading-image {
        /* Adjust the width and height as needed */
        width: 200px;
        height: 200px;
        margin-bottom: 20px; /* Space between image and text */
      }
      
      .loading-text {
        font-size: 80px;
        font-weight: 700;
        color: #1F2223;
        line-height: 130%;
      }
    /*Output*/
    #fairyTaleOutput {
        font-size: 42px;
        line-height: 150%;
        margin: 0px;
        margin: 40px 0px 40px 0px;
    }

    /*Footer*/
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 50px;
        padding-top: 50px;
        border-top: 0px 
    }
    #footerLinks {
        color: black;
        text-align: start;
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    #footerAbout {
        display: none;
    }
    /*About page*/
    #aboutContainer {
        margin-top: 70px;
        flex-direction: row;
        gap: 30px;
    }
    #aboutContainer h1{
        font-size: 55px;
        letter-spacing: -2px;
        width: 45%;
    }
    #pContainer {
        font-size: 20px;
        line-height: 170%;
    }
    #bodyButtonContainer {
        width: 55%;
    }
    #aboutButton {
        max-width: 360px;
    }

}


