@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    line-height: 150%;
    background-color: #1F2223;
    color: white;
    margin: 0 auto; /* Centers the container */
    max-width: 1920px; /* Maximum width of the content */
    padding: 0 50px; /* Padding on both sides */
}
p {
    margin: 0;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex: 1 0 0;
    padding: 20px 0px;
}
#logoContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}
#logo {
    font-size: 34px;
    font-weight: 700;
    text-transform: capitalize;
    text-transform: uppercase;
}
#free {
    font-size: 16px;
    border-radius: 100px;
    border: 1px solid var(--Secondary-White, #FFF);
    padding: 0 10px;
}
li {
    display: flex;
    align-items: center;
    gap: 27px;
}
ui {
    list-style-type: none;
}
/* Hero section*/
h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 120%;
}
h1 {
    font-size: 150px;
    margin: 0; /* Removes default margin */
    display: inline-block; /* Aligns with the line-height */
    vertical-align: top; /* Aligns text to the top of the container */
}
h2 {
    font-size: 58px;
    margin: 0; /* Removes default margin */
    display: inline-block; /* Aligns with the line-height */
    vertical-align: top; /* Aligns text to the top of the container */
}

.full-width-text {
    white-space: nowrap; 
    display: inline-block; 
    font-size: 152.855px;
    display: flex;
}
#heroTitleStory {
    position:relative;
    display:inline-block;
}
#heroTitleStory h1 {
    position: relative; 
    display: inline-block; 
    translate: none; 
    rotate: none; 
    scale: none; 
    transform: translate(0px, 0px);
}
#heroTitleEmoji {
    position:relative;
    display:inline-block;
}
#heroTitleEmoji h1 {
    position: relative; 
    display: inline-block; 
    translate: none; 
    rotate: none; 
    scale: none; 
    transform: translate(0px, 0px);
}

#heroContainer {
    display: flex;
    gap: 15px;
}
#heroTextContainer {
    background-color: #FFA500;
    color: #1F2223;
    padding: 60px 30px;
    width: 50%;
    gap: 22px;
}
#heroTextContainer div {
    max-width: 550px;
}
#heroTextContainer button {
    margin-top: 22px;
}
#heroGraphicContainer {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: var(--BG-Dark-Gradient, linear-gradient(180deg, rgba(50, 52, 53, 0.00) 0%, #323435 100%));
    /*Filter Animation*/
    animation: squiglly 0.8s infinite;
}


#eyes {
    position: absolute;
    top: 50%; /* Adjust values as needed */
    left: 50%; /* Adjust values as needed */
    transform: translate(-50%, -50%);
}
#heroSubGraphic {
    width: 300px;
    position: absolute;
    top: 50%; /* Adjust values as needed */
    left: 50%; /* Adjust values as needed */
    transform: translate(-50%, -50%);
}
button {
    border: none;
}
.primaryButton {
    background: #1F2223;
    color: white;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

/* Generator section */
.headingBox {
    text-align: center;
    margin: 64px 0 24px 0;
}

#generatorButtons {
    display: flex;
    gap: 8px;
    margin-bottom: 15px;
}

.secondaryButton {
    background: white;
    color: #1F2223;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
    gap: 8px;
    width: 100%;
}

#typeButton {
    background-color: #03C9EA;
}

#lengthButton {
    background-color: #B056FF;
}

#generateContainer {
    display: flex;
    width: 100%;
}

#generateContainer button {
    flex: 1; /* Take up available space */
    background-color: #FFA500;
    color: #1F2223;
}

#selectedOptions {
    display: flex;
    flex: 2; /* Take up available space */
    align-items: center;
    gap: 10px;
    background-color: #323435;
    padding-left: 10px;
}
.tag {
    color: #1F2223;
    background-color: white;
    display: flex;
    padding: 8px 14px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
/*Modal*/
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

.modal-content {
    background-color: #E9EDF0;
    margin: auto;
    padding: 20px;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
}
#modalButtonContainer {
    display: flex;
    position: fixed; /* Fixed position relative to viewport */
    right: 20px; /* Right side */
    bottom: 20px; /* Bottom side */
}

/*Emoji modal*/
#emojiContainer img {
    width: 60px;
    height: 60px;
    padding: 5px;
    margin: 5px;
}
/* Active state for images */
#emojiContainer img:hover, #emojiContainer img.activeImage {
    background-color: white;
    border-radius: 10px;
}

#emojiTabs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.emojiTab {
    color:black;
    text-align: right;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    white-space: nowrap;
}
/* Active state for tabs */
.emojiTab:hover, .emojiTab.active {
    text-decoration: solid underline black 6px;
}

#emojiContainer {
    padding-top: 30px;
    background-color: #E9EDF0;
}

/*Selected emojis tag*/
#selectedEmojis img {
    width: 24px;
    height: 24px;
}
